<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
        <h3>Are you sure you want to delete {{instance.first_name}}?</h3> 
        <div class="clearfix">
        <a href="{% url 'retrive'  %}" class="button-link">
          <button type="button" class="cancelbtn">Cancel</button>
        </a>  
          <a href="{% url 'delete' instance.ids %}" class="button-link">
            <button type="button" class="sure">yes</button>
          </a>  
        </div>
      </div>
    </form>
  </div>
  
</body>
</html>