<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View</title>
</head>
<style>
  table, th, td {
    border:1px solid black;
  }
  </style>
<body>
  <table>
    <tr>
      <th>ID</th>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>ROLL NUMBER</th>
      <th>MOBILE NUMBER</th>
  
    </tr>

    <tr> 
      <td>{{data.ids}}</td>
      <td>{{data.first_name}}</td>
      <td>{{data.last_name}}</td>
      <td>{{data.roll_number}}</td>
      <td>{{data.mobile_number}}</td>
    </tr>



  </table>
</body>  
</html>